[submodule "examples/terraform/openstack/dependencies/cloud-provider-openstack"]
	path = examples/terraform/openstack/dependencies/cloud-provider-openstack
	url = https://github.com/diorcety/cloud-provider-openstack.git
